.paymentImageContainer {
    display:flex;
    position: relative;
    z-index:1000;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
}

.paymentImageContainer img {
    padding:10px 15px;
    height: 40px;
}

@media only screen and(max-width:766px) {
    .paymentImageContainer .intesaAnchor {
        width:100%;
        text-align: center;
    }
}